Options +FollowSymLinks
RewriteEngine on

RewriteRule ^(Activar-cuenta)$ index.php?v-config=$1
RewriteRule ^(Mi-Clínica)$ index.php?v-config=$1
RewriteRule ^(LicenciaDentad)$ index.php?v-config=$1




RewriteRule ^(Agenda)$ index.php?view=$1
RewriteRule ^(Todos-mis-pacientes)$ index.php?view=$1
RewriteRule ^(paciente)$ index.php?view=$1
RewriteRule ^adm/(paciente)$/(.*)$ index.php?view=$1&id=$2 [L]

RewriteRule ^(Colaboradores)$ index.php?view=$1


RewriteRule ^(Odontograma)$ index.php?view=$1
RewriteRule ^(Tratamientos)$ index.php?view=$1
RewriteRule ^(Diagnósticos)$ index.php?view=$1
RewriteRule ^(Motivos-de-consulta)$ index.php?view=$1